@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    background-image: url(madeira.jpeg);
    margin: 0px;
}

header{
    height: 130px;
    width: auto;
    background-image: linear-gradient(#D98A29, #d98a29b9);
    box-shadow: 1px 1px 1px 1px black;
}

main{
    border-radius: 10px;
    max-width: 1250px;
    min-width: 320px;
    margin: auto;
    background-color: white;
    margin-top: 5px;
    box-shadow: 1px 1px 1px 1px #000;
    margin-bottom: 5px;
    
}

h1 {
    color:  rgb(82, 35, 19);
    background-color: white;
}

h2{
    color: rgb(82, 35, 19);
    background-color: white;
}

h3{
    color: rgb(231, 180, 73);
    background-color: white;
}

p{
    background-color: white;
    color: black;
}

hr{
    border-color: rgb(82, 35, 19);
}

a{
    text-decoration: none;
}

img{
    background: none;
}

.coffee{
    display: inline-block;
    height: auto;
    width: auto;
    padding: 10px 100px 50px 100px;
    margin: auto;
}

.coffee > img{
    width: 100%;
}

#escrito{
    height: 100px;
    width: auto;
    border-radius: 10px;
    margin-top: 15px;
}

#logo{
    float: left;
    margin: 10px;
 }

#xicara{
    float: right;
    height: auto;
    width: auto;
    margin-top: 10px;
    margin-right: 10px;
}

#info{
    width: auto;
    margin: auto;
    padding-top: 50px;
}

#delivery{
    padding-bottom: 45px;
    padding-top: 25px;
}

#video{
    margin-top: 30px;
}


footer{
    text-align: end; 
    font-size: small;
    background-image: linear-gradient(rgba(82, 35, 19, 0.664), rgb(82, 35, 19));
    height: 60px;
}

#assinatura{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.432);
    padding-right: 15px;
}





